//TODO btn:active bug
// Active animation happens only the first time and stays stuck like that


.btn {
	&,
	&:link,
	&:visited {
		font-size: $default-font-size;
		text-transform: uppercase;
		text-decoration: none;
		padding: 1.5rem 4rem;
		display: inline-block; /* bcs we added padding/margin so it occupied the space of other elements */
		border-radius: 10rem;
		transition: all 0.2s;
		position: relative; /* for the psuedoelement */

		// Change for the <button> element
		border: none;
		cursor: pointer;

	}

	&:hover {
		transform: translateY(-0.3rem);
		box-shadow: $shadow-button-white-hover;

		&::after {
			transform: scaleX(1.4) scaleY(1.6);
			opacity: 0;
		}
	}

	&:active,
	&:focus {
		outline: none;
		transform: translateY(-0.1rem);
		box-shadow: $shadow-button-white-active;
	}

	&--white {
		background-color: $color-white;
		color: $color-grey-dark-1;

		&::after {
			background-color: $color-white;
		}
	}

	&--green {
		background-color: $color-primary;
		color: $color-white;

		&::after {
			background-color: $color-primary;
		}
	}

	&::after {
		content: "";
		display: inline-block;
		height: 100%;
		width: 100%;
		border-radius: 10rem;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		transition: all 0.4s;
	}

	&--animated {
		animation: moveInBottom 0.5s ease-out 0.75s;
		animation-fill-mode: backwards;
	}
}

.btn-text {
	&:link,
	&:visited {
		font-size: $default-font-size;
		color: $color-primary;
		display: inline-block;
		text-decoration: none;
		border-bottom: 1px solid $color-primary;
		padding: 3px;
		transition: all 0.3s;
	}

	&:hover {
		background: $color-primary;
		color: $color-white;
		transform: translateY(-0.2rem);
		box-shadow: $shadow-button-text-hover;
	}

	&:active {
		transform: translateY(-0.1rem);
		box-shadow: $shadow-button-text-active;
	}
}
